<div class="row" id="preferences">
  <div class="col s10" id="option-fields">
    <%= render "form", airports: @airports %>
  </div>
</div>
<div class="row" id="results">
  <div class="col s10" id="available-container"></div>
</div>
