<div class='nested-fields'>
  <div class="field">
    <%= f.label :passenger_name %>
    <%= f.text_field :passenger_name, readonly: true %>
  </div>
  <div class="field">
    <%= f.label :passport_number %>
    <%= f.text_field :passport_number, readonly: true %>
  </div>
</div>
