<div class="row" id="search-booking">
  <div class="col s10 offset-s2">
    <form action="<%= search_booking_path %>" method="get">
      <div class="search search-wrapper card">
        <input placeholder="Booking code" name="booking_code" id="search" type="text" class="validate">
      </div>
      <button class="btn-floating btn-large waves-effect waves-light blue" col s2"" type="submit" name="action">
        <i class="material-icons">search</i>
      </button>
    </form>
  </div>
</div>
