<div class="row" id="search-booking">
  <div class="col s10 offset-s2">
    <form action="<%= search_booking_path %>" method="get">
      <label for="booking_code">Booking code</label>
      <input placeholder="Booking code" name="booking_code" type="text" class="validate">
      <button class="btn-floating btn-large waves-effect waves-light blue" col s2"" type="submit" name="action">
        <i class="material-icons">search</i>
      </button>
    </form>
  </div>
</div>
