<div class="row" id="search-booking">
  <div class="col s4 offset-s4">
    <form action="<%= search_booking_path %>" method="get">
      <div class="search search-wrapper card" id="search-parent">
        <input placeholder="Booking code" name="booking_code" id="search" type="text" class="validate">
      </div>
      <button class="btn-floating btn-large waves-effect waves-light blue" type="submit" name="action">
        <i class="material-icons">search</i>
      </button>
    </form>
  </div>
</div>
<div class="row">
  <% if flash[:notice] == "No reservations available." %>
  <div class="row margin">
    <div class="input-field col s12">
      <p>
        <%= flash[:notice] %>
      </p>
    </div>
  </div>
  <% end %>
</div>
