<div class="row" id="search-booking">
  <div class="col s9" id="search-booking-col">
    <form action="<%= search_booking_path %>" method="get">
      <input placeholder="Booking code" name="booking_code" id="search" type="text" class="validate">
      <button class="btn-floating btn-large blue" type="submit" name="action">
        <i class="material-icons">search</i>
      </button>
    </form>
  </div>
</div>
<div class="row">
  <% if flash[:notice] == "No reservations available." %>
  <div class="row margin">
    <div class="input-field col s12">
      <p>
        <%= flash[:notice] %>
      </p>
    </div>
  </div>
  <% end %>
</div>
