<div class="row" id="new-reservation">
  <div class="col s10 offset-s1 l8 offset-l2 card-panel">
    <%= render 'form_show', booking: @booking %>
    <%= link_to 'Home', "/", class: "btn blue back", data: {turbolinks: false} %>
    <%= link_to 'Back', "/", class: "btn blue back", data: {turbolinks: false} %>
  </div>
</div>
