<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Hello from flightset.com,
      <%= @user.email %></h1>
    <p>
      You have successfully reset your password on flightset.com, your new
        password is as follows:<br>
      <label>Password:</label>
      <%= @user.password %><br>
    </p>
    <p>
      To visit the site, just follow this link:
      <%= @url %>.
    </p>
    <p>Thanks for making reservations with flightset and have a great day!</p>
  </body>
</html>
