// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-parent {
  margin-top: 90px;
  margin-right: 10px;
  padding-right: 50px;
  display: inline-flex;
}

#search {
  border: none;
  outline: none;
  box-shadow: none;
}

input:-webkit-autofill {
  background-color: #fff;
}

#new-reservation {
  height: 90%;
  width: 100%;
  overflow-y: auto;
}

.align {
  text-align: center;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.create-booking {
  display: inherit !important;
  margin-top: 10px;
  margin-bottom: 15px !important;
}

.back {
  display: inherit !important;
  margin-top: 10px;
  margin-bottom: 15px !important;
}

.remove {
  margin-bottom: 10px;
}

#available {
  padding: 70px;
  margin-left: 10.66667% !important;
}

.past {
  height: 90% !important;
  overflow-y: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.past-child {
  overflow-y: auto !important;
  padding: 70px !important;
  width: 100% !important;
  margin-left: auto !important;
}
