// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-parent {
  margin-top: 90px;
}

#search {
  border: none;
  outline: none;
  box-shadow: none;
}

input:-webkit-autofill {
  background-color: #fff;
}

#new-reservation {
  height: 90%;
  width: 100%;
}
