// Place all the styles related to the flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#preferences {
  position: relative;
  height: 20%;
}

#results {
  height: 80%;
}

#option-fields {
  margin-top: 90px;
}

#available-container {
  height: 80%;
  margin-top: 20px;
  margin-left: 70px;
  overflow-y: auto;
}

td, th {
  padding: 15px 15px 15px 15px;
}

input[type=radio]:checked, input[type=radio]:not(:checked) {
  position: relative;
  left: 0px;
  visibility: visible;
}
